body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.headerRoot {
  text-align: center;
}
.addFieldRoot {
  display: flex;
  justify-content: center;
}
.list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.todoItem {
  width: 25%;
  display: flex;
  justify-content: space-between;
}
.todoItemTitle {
  white-space: nowrap;
  overflow: scroll;
  text-overflow: ellipsis;
}
